@model ConnectionViewModel
@inject IReadOnlyDbContext db

<div class="card my-5" style="background-color:#e2ecf9">
    <div class="card-header">
        <div class="d-inline-block">
            لینک @Model.IdInt
        </div>
        @if (User.FindFirst(nameof(Permission)).Value.Contains(nameof(Permission.EditConnections)))
        {
            <div class="float-left">
                <a class="edit" asp-action="Edit" asp-route-id="@Model.Id.ToString()" title="ویرایش">
                    <img src="~/lib/bootstrap-icons/icons/pencil.svg" width="24" />
                </a>
            </div>
        }
    </div>
    <div class="card-body">
        @for (int i = 0; i < Model.EndPoints.Count; i++)
        {
            int hue = (i * 35 + 60) % 360;
            <div class="my-3 card" style="background-color: hsl(@hue , 25%, 88%); color: hsl(@hue , 80%, 32%);">
                <div class="card-header" data-toggle="collapse" data-target="#endpoint_@(Model.Id)_@i" style="cursor:pointer;">
                    <div class="float-right">اتصال @(i+1)</div>
                    <div class="text-center">
                        @Html.Raw(Model.EndPoints[i].GetPlaceDisplay(db))
                    </div>
                </div>
                <div class="card-body collapse" id="endpoint_@(Model.Id)_@i">
                    <div class="row">
                        <div class="col-lg-3 col-sm-6">
                            <label>@(Utils.GetDisplayNameOfMember<EndPoint>(e => e.PortType)):</label>
                            <span class="text-value">@Utils.GetDisplayNameOfMember(typeof(EndPoint.PortTypeEnum), Model.EndPoints[i].PortType.ToString())</span>
                        </div>
                        <div class="col-lg-3 col-sm-6">
                            <label>@(Utils.GetDisplayNameOfMember<EndPoint>(e => e.PortNumber)):</label>
                            <span class="text-value">@Model.EndPoints[i].PortNumber</span>
                        </div>
                        <div class="col-lg-3 col-sm-6">
                            <label>@(Utils.GetDisplayNameOfMember<EndPoint>(e => e.Speed)):</label>
                            <span class="text-value" dir="ltr">@Model.EndPoints[i].Speed @Model.EndPoints[i].SpeedUnit</span>
                        </div>
                        <div class="col-lg-3 col-sm-6">
                            <label>@(Utils.GetDisplayNameOfMember<EndPoint>(e => e.Module)):</label>
                            <span class="text-value">@Utils.GetDisplayNameOfMember(typeof(EndPoint.ModuleType), Model.EndPoints[i].Module.ToString())</span>
                        </div>
                        <div class="col-lg-3 col-sm-6">
                            <label>@(Utils.GetDisplayNameOfMember<EndPoint>(e => e.PatchCord)):</label>
                            <span class="text-value">@Utils.GetDisplayNameOfMember(typeof(EndPoint.PatchCordType), Model.EndPoints[i].PatchCord.ToString())</span>
                        </div>
                        <div class="col-lg-3 col-sm-6">
                            <label>@(Utils.GetDisplayNameOfMember<EndPoint>(e => e.Connector)):</label>
                            <span class="text-value">@Utils.GetDisplayNameOfMember(typeof(EndPoint.ConnectorType), Model.EndPoints[i].Connector.ToString())</span>
                        </div>
                        <div class="col-lg-3 col-sm-6">
                            <label>@(Utils.GetDisplayNameOfMember<EndPoint>(e => e.DistanceToNextPoint)):</label>
                            <span class="text-value">@Model.EndPoints[i].DistanceToNextPoint</span>
                        </div>
                        <div class="col-lg-3 col-sm-6">
                            <label>@(Utils.GetDisplayNameOfMember<EndPoint>(e => e.DataProtection)):</label>
                            <span class="text-value">@(Model.EndPoints[i].DataProtection ? "بلی": "خیر")</span>
                        </div>
                        <div class="col-lg-3 col-sm-6">
                            <label>@(Utils.GetDisplayNameOfMember<EndPoint>(e => e.TransmissionProtection)):</label>
                            <span class="text-value">@(Model.EndPoints[i].TransmissionProtection ? "بلی": "خیر")</span>
                        </div>
                        <div class="col-lg-3 col-sm-6">
                            <label>@(Utils.GetDisplayNameOfMember<EndPoint>(e => e.Incomplete)):</label>
                            <span class="text-value">@(Model.EndPoints[i].Incomplete ? "بلی": "خیر")</span>
                        </div>
                        @if (!string.IsNullOrWhiteSpace(Model.EndPoints[i].Description))
                        {
                            <div class="col-lg-9 col-sm-12">
                                <label>@(Utils.GetDisplayNameOfMember<EndPoint>(e => e.Description)):</label>
                                <span class="text-value">@Model.EndPoints[i].Description</span>
                            </div>
                        }
                    </div>
                    <div class="mt-3">
                        @for (int j = 0; j < Model.EndPoints[i].PassiveConnectionViewModels.Count; j++)
                        {
                            var passive = Model.EndPoints[i].PassiveConnectionViewModels[j];
                            <div class="card m-2 rounded-lg">
                                <div class="card-header text-center" style="background-color: hsl(@hue , 25%, 77%); color: hsl(@hue , 80%, 22%);">
                                    <div class="float-right">اتصال @(i+1) - @(j + 1)</div>
                                    <div class="text-center">@Html.Raw(passive.GetPlaceDisplayName(db))</div>
                                </div>
                                <div class="card-body" style="background-color: hsl(@hue , 40%, 77%); color: hsl(@hue , 80%, 22%);">
                                    <div class="row">
                                        <div class="col-lg-3 col-sm-6">
                                            <label>@(Utils.GetDisplayNameOfMember<PassiveConnectionViewModel>(p => p.PortNumber)):</label>
                                            <span class="text-value">@passive.PortNumber</span>
                                        </div>
                                        <div class="col-lg-3 col-sm-6">
                                            <label>@(Utils.GetDisplayNameOfMember<PassiveConnectionViewModel>(p => p.Connector)):</label>
                                            <span class="text-value">@Utils.GetDisplayNameOfMember(typeof(EndPoint.ConnectorType), passive.Connector.ToString())</span>
                                        </div>
                                        <div class="col-lg-3 col-sm-6">
                                            <label>@(Utils.GetDisplayNameOfMember<PassiveConnectionViewModel>(p => p.TransmissionSystem)):</label>
                                            <span class="text-value">@Utils.GetDisplayNameOfMember(typeof(PassiveConnection.TransmissionSystemType), passive.TransmissionSystem.ToString())</span>
                                        </div>
                                        <div class="col-lg-3 col-sm-6">
                                            <label>@(Utils.GetDisplayNameOfMember<PassiveConnectionViewModel>(p => p.DistanceToNextPoint)):</label>
                                            <span class="text-value">@passive.DistanceToNextPoint</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        }
        <div class="my-3 card" style="background-color:#eee;">
            <div class="card-header" data-toggle="collapse" data-target="#graph_card_body_@Model.Id"
                 style="cursor:pointer;" onclick="LoadConnectionGraph('@Model.Id')">گراف شبکه</div>
            <div class="card-body collapse" id="graph_card_body_@Model.Id">
                <div id="divGraph_@Model.Id" style="border: solid 1px black; height: 500px;"></div>
            </div>
        </div>
    </div>
    <div class="card-footer text-black-50">
        @if (Model.CreateDate != null)
        {
            <div class="d-inline-block ml-5">
                ایجاد شده در @Model.CreateDate
                @if (Model.CreatedUser != null)
                {
                    <span>توسط <b>@Model.CreatedUser</b></span>
                }
            </div>
        }
        @if (Model.LastEditDate != null)
        {
            <div class="d-inline-block">
                آخرین ویرایش در @Model.LastEditDate
                @if (Model.EditedUser != null)
                {
                    <span>توسط <b>@Model.EditedUser</b></span>
                }
            </div>
        }
    </div>
</div>
