@model PlaceViewModel
@using AliaaCommon

@{
    ViewData["Title"] = Model.Current.Name;
}

@if (User.FindFirst(nameof(Permission)).Value.Contains(nameof(Permission.EditPlacesAndDevices)))
{
    <div class="mt-4">
        @if (Model.Current.PlaceType == PlaceType.Building || Model.Current.PlaceType == PlaceType.Room)
        {
            <button id="btnRename" class="btn btn-info mx-2">تغییر نام</button>
        }
        @if (Model.Current.PlaceType == PlaceType.Room)
        {
            <button id="btnNewRack" class="btn btn-info mx-2">راک جدید</button>
        }
        @if (Model.Rack != null)
        {
            <a asp-controller="Device" asp-action="Add" class="btn btn-info mx-2"
               asp-route-city="@Model.City.Id" asp-route-center="@Model.Center.Id" asp-route-building="@Model.Building.Id"
               asp-route-room="@Model.Room.Id" asp-route-rack="@Model.Rack.Id">دستگاه جدید</a>
            <a asp-controller="Passive" asp-action="Add" class="btn btn-info mx-2"
               asp-route-city="@Model.City.Id" asp-route-center="@Model.Center.Id" asp-route-building="@Model.Building.Id"
               asp-route-room="@Model.Room.Id" asp-route-rack="@Model.Rack.Id">رابط Passive جدید</a>
        }
        @if (Model.Current.PlaceType == PlaceType.Room || Model.Rack != null)
        {
            <button id="btnNewNonNetworkItem" class="btn btn-info mx-2">دستگاه غیر شبکه ای جدید</button>
        }
        @if (!Model.SubItems.Any() && !Model.NonNetworkItems.Any() && Model.Type != PlaceType.Center)
        {
            <div class="text-center m-5">
                <a asp-controller="Place" asp-action="Delete" class="btn btn-danger mx-2"
                   asp-route-id="@Model.Current.Id.ToString()" asp-route-type="@Model.Type">حذف</a>
            </div>
        }
    </div>
}

<div class="mt-4">
    <span>@Model.City.Name</span>
    <span>&gt;</span>
    <a asp-action="Item" asp-route-type="Center" asp-route-id="@Model.Center.Id.ToString()">مرکز @Model.Center</a>
    @if (Model.Building != null)
    {
        <span>&gt;</span>
        <a asp-action="Item" asp-route-type="Building" asp-route-id="@Model.Building.Id.ToString()">ساختمان @Model.Building</a>
    }
    @if (Model.Room != null)
    {
        <span>&gt;</span>
        <a asp-action="Item" asp-route-type="Room" asp-route-id="@Model.Room.Id.ToString()">سالن/اتاق @Model.Room</a>
    }
    @if (Model.Rack != null)
    {
        <span>&gt;</span>
        <a asp-action="Item" asp-route-type="Rack" asp-route-id="@Model.Rack.Id.ToString()">راک @Model.Rack</a>
    }
</div>

@if (Model.SubItems.Any())
{
    <div class="row mt-5">
        <div class="col-lg-6">
            <h3>@(DisplayUtils.DisplayName(Model.NextLevelType))های @Model.ToString() </h3>
            <ol class="mt-4">
                @foreach (var item in Model.SubItems.OrderBy(x => x.Name))
                {
                    @if (Model.NextLevelType == PlaceType.Device)
                    {
                        if (item.PlaceType == PlaceType.Device)
                        {
                            <li>
                                <a asp-controller="Device" asp-action="Item" asp-route-id="@item.Id.ToString()">@item</a>
                            </li>
                        }
                    }
                    else
                    {
                        <li>
                            <a asp-action="Item" asp-route-type="@Model.NextLevelType" asp-route-id="@item.Id.ToString()">
                                @DisplayUtils.DisplayName(Model.NextLevelType) @item
                            </a>
                        </li>
                    }
                }
            </ol>
        </div>
        @if (Model.NextLevelType == PlaceType.Device)
        {
            <div class="col-lg-6">
                <h3>رابطهای Passive @Model.ToString()</h3>
                <ol class="mt-4">
                    @foreach (var item in Model.SubItems.Where(i => i.PlaceType == PlaceType.Passive))
                    {
                        <li>
                            <a asp-controller="Passive" asp-action="Item" asp-route-id="@item.Id.ToString()">@item</a>
                        </li>
                    }
                </ol>
            </div>
        }
    </div>
}

@if (Model.NonNetworkItems.Any())
{
    <h3 class="mt-5">دستگاه های غیر شبکه ای</h3>
    <ol class="mt-4">
        @foreach (var item in Model.NonNetworkItems)
        {
            <li>
                
                @item
                <a asp-action="DeleteNonNetworkItem" asp-route-id="@item.Id" asp-route-isRack="@item.IsRackItem" 
                   class="btn btn-outline-danger btn-sm mx-2">حذف</a>
            </li>
        }
    </ol>
}

<div class="modal fade" id="newRackModal">
    <div class="modal-dialog">
        <form asp-action="AddRack">
            <div class="modal-content">
                <div class="modal-header bg-dark text-light">
                    <h4 class="modal-title">راک جدید</h4>
                    <button type="button" class="close text-light" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    <input type="hidden" name="Parent" value="@Model.Current.Id" />
                    <div class="form-group">
                        <label class="control-label">ردیف</label>
                        <input type="number" name="Line" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label class="control-label">شماره</label>
                        <input type="number" name="Index" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label class="control-label">سمت</label>
                        <select name="Side" class="form-control">
                            <option>A</option>
                            <option>B</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label class="control-label">ظرفیت</label>
                        <input type="number" name="Capacity" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label class="control-label">نوع راک</label>
                        <select name="Type" class="form-control">
                            @foreach (var t in DisplayUtils.GetEnumValues<Rack.RackType>())
                            {
                                <option value="t">@DisplayUtils.DisplayName(t)</option>
                            }
                        </select>
                    </div>
                </div>
                <div class="modal-footer">
                    <input type="submit" class="btn btn-primary" value="ذخیره" />
                </div>
            </div>
        </form>
    </div>
</div>

<div class="modal fade" id="renameModal">
    <div class="modal-dialog">
        <form asp-action="Rename">
            <div class="modal-content">
                <div class="modal-header bg-dark text-light">
                    <h4 class="modal-title">ویرایش نام</h4>
                    <button type="button" class="close text-light" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    <input type="hidden" name="Id" value="@Model.Current.Id" />
                    <input type="hidden" name="Type" value="@Model.Current.PlaceType" />
                    <div class="form-group">
                        <label class="control-label">نام</label>
                        <input name="Name" class="form-control" value="@Model.Current.Name" />
                    </div>
                </div>
                <div class="modal-footer">
                    <input type="submit" class="btn btn-primary" value="تغییر نام" />
                </div>
            </div>
        </form>
    </div>
</div>

<div class="modal fade" id="newNonNetworkItem">
    <div class="modal-dialog">
        <form asp-action="NewNonNetworkItem">
            <div class="modal-content">
                <div class="modal-header bg-dark text-light">
                    <h4 class="modal-title">دستگاه غیر شبکه ای جدید</h4>
                    <button type="button" class="close text-light" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    <input type="hidden" name="PlaceId" value="@Model.Current.Id" />
                    <input type="hidden" name="PlaceType" value="@Model.Current.PlaceType" />
                    <div class="form-group">
                        <label class="control-label">نام</label>
                        <input name="Name" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label class="control-label">نوع</label>
                        <select name="Type" class="form-control">
                            @if (Model.Current.PlaceType == PlaceType.Room)
                            {
                                @foreach (var t in DisplayUtils.GetEnumValues<NonNetworkRoomItem.NonNetworkRoomItemType>())
                                {
                                    <option value="@t">@DisplayUtils.DisplayName(t)</option>
                                }
                            }
                            else if (Model.Current.PlaceType == PlaceType.Rack)
                            {
                                @foreach (var t in DisplayUtils.GetEnumValues<NonNetworkRackItem.NonNetworkRackItemType>())
                                {
                                    <option value="@t">@DisplayUtils.DisplayName(t)</option>
                                }
                            }
                        </select>
                    </div>
                    <div class="form-group">
                        <label class="control-label">تعداد</label>
                        <input name="Count" type="number" class="form-control" min="1" max="100" value="1" />
                    </div>
                </div>
                <div class="modal-footer">
                    <input type="submit" class="btn btn-primary" value="ذخیره" />
                </div>
            </div>
        </form>
    </div>
</div>


@section Scripts {
    <script>
        $("#btnNewRack").click(function () {
            $("#newRackModal").modal();
        });

        $("#btnRename").click(function () {
            $("#renameModal").modal();
        });
        $("#btnNewNonNetworkItem").click(function () {
            $("#newNonNetworkItem").modal();
        });
    </script>
}