@model PlaceViewModel
@using AliaaCommon

@{
    ViewData["Title"] = Model.Current.Name;
}

@if (Model.Rack != null && User.FindFirst(nameof(Permission)).Value.Contains(nameof(Permission.EditData)))
{
    <div class="mt-4">
        <a asp-controller="Device" asp-action="Add" class="btn btn-info"
           asp-route-city="@Model.City.Id" asp-route-center="@Model.Center.Id" asp-route-building="@Model.Building.Id"
           asp-route-room="@Model.Room.Id" asp-route-rack="@Model.Rack.Id">دستگاه جدید</a>
        <a asp-controller="PatchPanel" asp-action="Add" class="btn btn-info mx-3"
           asp-route-city="@Model.City.Id" asp-route-center="@Model.Center.Id" asp-route-building="@Model.Building.Id"
           asp-route-room="@Model.Room.Id" asp-route-rack="@Model.Rack.Id">رابط Passive جدید</a>
    </div>
}

<div class="mt-4">
    <span>@Model.City.Name</span>
    <span>&gt;</span>
    <a asp-action="Item" asp-route-type="Center" asp-route-id="@Model.Center.Id.ToString()">مرکز @Model.Center</a>
    @if (Model.Building != null)
    {
        <span>&gt;</span>
        <a asp-action="Item" asp-route-type="Building" asp-route-id="@Model.Building.Id.ToString()">ساختمان @Model.Building</a>
    }
    @if (Model.Room != null)
    {
        <span>&gt;</span>
        <a asp-action="Item" asp-route-type="Room" asp-route-id="@Model.Room.Id.ToString()">سالن/اتاق @Model.Room</a>
    }
    @if (Model.Rack != null)
    {
        <span>&gt;</span>
        <a asp-action="Item" asp-route-type="Rack" asp-route-id="@Model.Rack.Id.ToString()">راک @Model.Rack</a>
    }
</div>

@if (Model.SubItems.Any())
{
    <div class="row mt-5">
        <div class="col-lg-6">
            <h3>لیست @(Utils.GetDisplayNameOfMember(typeof(PlaceType), Model.NextLevelType.ToString()))های @Model.ToString() </h3>
            <ul class="mt-4">
                @foreach (var item in Model.SubItems)
                {
                    @if (Model.NextLevelType == PlaceType.Device)
                    {
                        if (item.PlaceType == PlaceType.Device)
                        {
                            <li>
                                @if (User.FindFirst(nameof(Permission)).Value.Contains(nameof(Permission.EditData)))
                                {
                                    <a asp-controller="Device" asp-action="Edit" asp-route-id="@item.Id.ToString()">@item</a>
                                }
                                else
                                {
                                    <a asp-controller="Device" asp-action="Item" asp-route-id="@item.Id.ToString()">@item</a>
                                }
                            </li>
                        }
                    }
                    else
                    {
                        <li>
                            <a asp-action="Item" asp-route-type="@Model.NextLevelType" asp-route-id="@item.Id.ToString()">
                                @Utils.GetDisplayNameOfMember(typeof(PlaceType), Model.NextLevelType.ToString()) @item
                            </a>
                        </li>
                    }
                }
            </ul>
        </div>
        @if (Model.NextLevelType == PlaceType.Device)
        {
            <div class="col-lg-6">
                <h3>لیست رابطهای Passive @Model.ToString()</h3>
                <ul class="mt-4">
                    @foreach (var item in Model.SubItems.Where(i => i.PlaceType == PlaceType.PatchPanel))
                    {
                        <li>
                            @if (User.FindFirst(nameof(Permission)).Value.Contains(nameof(Permission.EditData)))
                            {
                                <a asp-controller="PatchPanel" asp-action="Edit" asp-route-id="@item.Id.ToString()">@item</a>
                            }
                            else
                            {
                                <a asp-controller="PatchPanel" asp-action="Item" asp-route-id="@item.Id.ToString()">@item</a>
                            }
                        </li>
                    }
                </ul>
            </div>
        }
    </div>
}
else if (Model.Type != PlaceType.Center)
{
    <div class="text-center m-5">
        <a asp-action="Delete" asp-route-id="@Model.Current.Id.ToString()" asp-route-type="@Model.Type" class="btn btn-danger">حذف</a>
    </div>
}