@model PatchPanelViewModel
@inject IReadOnlyDbContext db

<div class="card my-5" style="background-color:#eee;">
    <div class="card-header">
        @Model.GetPlaceDisplay(db)
        @if (User.FindFirst(nameof(Permission)).Value.Contains(nameof(Permission.EditPlacesAndDevices)))
        {
            <div class="float-left">
                <a class="edit" asp-action="Edit" asp-route-id="@Model.Id.ToString()" title="ویرایش">
                    <img src="~/lib/bootstrap-icons/icons/pencil.svg" width="24" />
                </a>
            </div>
        }
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-lg-3 col-sm-6">
                <label>@Html.DisplayNameFor(m => m.Type):</label>
                <span class="text-value">
                    @Utils.GetDisplayNameOfMember(typeof(Device.DeviceType), Model.Type.ToString())
                </span>
            </div>
            <div class="col-lg-3 col-sm-6">
                <label>@Html.DisplayNameFor(m => m.Name):</label>
                <span class="text-value">
                    @Model.Name
                </span>
            </div>
        </div>
    </div>
</div>