@model PassiveViewModel

@{
    ViewData["Title"] = "رابط Passive جدید";
}

<h4>رابط Passive جدید</h4>
<hr />
<form asp-action="Add">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="row">
        <div class="form-group col-lg-3 col-sm-6">
            <label asp-for="City" class="control-label"></label>
            <select asp-for="City" class="form-control">
                <option disabled selected="selected">انتخاب کنید</option>
                @foreach (City c in ViewBag.Cities)
                {
                    <option value="@c.Id.ToString()">@c.Name</option>
                }
            </select>
            <span asp-validation-for="City" class="text-danger"></span>
        </div>
        <div class="form-group col-lg-3 col-sm-6">
            <label asp-for="Center" class="control-label"></label>
            <select asp-for="Center" class="form-control" asp-items="ViewBag.Centers"></select>
            <span asp-validation-for="Center" class="text-danger"></span>
        </div>
        <div class="form-group col-lg-3 col-sm-6">
            <label asp-for="Building" class="control-label"></label>
            <select asp-for="Building" class="form-control" asp-items="ViewBag.Buildings">
                <option disabled selected>انتخاب کنید یا وارد کنید</option>
            </select>
            <span asp-validation-for="Building" class="text-danger"></span>
        </div>
        <div class="form-group col-lg-3 col-sm-6">
            <label asp-for="Room" class="control-label"></label>
            <select asp-for="Room" class="form-control" asp-items="ViewBag.Rooms">
                <option disabled selected>انتخاب کنید یا وارد کنید</option>
            </select>
            <span asp-validation-for="Room" class="text-danger"></span>
        </div>
        <div class="form-group col-lg-3 col-sm-6">
            <label asp-for="RackLine" class="control-label"></label>
            <input asp-for="RackLine" class="form-control" />
            <span asp-validation-for="RackLine" class="text-danger"></span>
        </div>
        <div class="form-group col-lg-3 col-sm-6">
            <label asp-for="RackIndex" class="control-label"></label>
            <input asp-for="RackIndex" class="form-control" />
            <span asp-validation-for="RackIndex" class="text-danger"></span>
        </div>
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group col-lg-3 col-sm-6">
            <label asp-for="RackType" class="control-label"></label>
            <select asp-for="RackType" class="form-control">
                @foreach (var t in Enum.GetNames(typeof(Rack.RackType)))
                {
                    <option value="@t">@Utils.GetDisplayNameOfMember(typeof(Rack.RackType), t)</option>
                }
            </select>
            <span asp-validation-for="RackType" class="text-danger"></span>
        </div>
        <div class="form-group col-lg-3 col-sm-6">
            <label asp-for="RackSide" class="control-label"></label>
            <select asp-for="RackSide" class="form-control">
                @foreach (var s in Enum.GetNames(typeof(Rack.RackSide)))
                {
                    <option>@s</option>
                }
            </select>
            <span asp-validation-for="RackSide" class="text-danger"></span>
        </div>
        <div class="form-group col-lg-3 col-sm-6">
            <label asp-for="RackRow" class="control-label"></label>
            <input asp-for="RackRow" class="form-control" />
            <span asp-validation-for="RackRow" class="text-danger"></span>
        </div>

        <div class="form-group col-lg-3 col-sm-6">
            <label asp-for="PatchPanelType" class="control-label"></label>
            <select asp-for="PatchPanelType" class="form-control">
                @foreach (var t in Enum.GetNames(typeof(Passive.PatchPanelTypeEnum)))
                {
                    <option value="@t">@Utils.GetDisplayNameOfMember(typeof(Passive.PatchPanelTypeEnum), t)</option>
                }
            </select>
            <span asp-validation-for="PatchPanelType" class="text-danger"></span>
        </div>
        <div class="form-group col-lg-3 col-sm-6">
            <label asp-for="Name" class="control-label"></label>
            <input asp-for="Name" class="form-control" />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group mt-4">
        <input type="submit" value="ایجاد" class="btn btn-primary" />
    </div>
</form>

<div>
    <a asp-controller="Place" asp-action="Index">بازگشت به لیست</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

<script>
    var dropdownsToClear = [$("#Center"), $("#Building"), $("#Room")];

    function ClearDropdownsAfter(offset) {
        for (var i = offset; i < dropdownsToClear.length; i++)
            removeOptionsOfDropDown(dropdownsToClear[i], "انتخاب کنید یا وارد کنید");
    }

    $("#City").change(function () {
        ClearDropdownsAfter(0);
        var cityId = $(this).val();
        $.get("/Place/Centers?city=" + cityId, function (res) {
            $.each(res, function (index, item) {
                $("#Center").append("<option value='" + item.id + "'>" + item.text + "</option>");
            });
            $("#Center").select2(select2BaseSettings);
        });
    });

    $("#Center").change(function () {
        ClearDropdownsAfter(1);
        var centerId = $(this).val();
        $.get("/Place/Buildings?center=" + centerId, function (res) {
            $("#Building").select2({
                tags: true,
                data: res,
                ...select2BaseSettings
            });
        });
    });

    $("#Building").on('select2:select', function (e) {
        ClearDropdownsAfter(2);
        var buildingId = e.params.data.id;
        $.get("/Place/Rooms?building=" + buildingId, function (res) {
            $("#Room").select2({
                tags: true,
                data: res,
                ...select2BaseSettings
            });
        });
    });

</script>
}
