@model PassiveViewModel
@inject IReadOnlyDbContext db

@{
    ViewData["Title"] = "ویرایش رابط Passive";
}

<h1>ویرایش رابط Passive</h1>

<h4 class="mt-4">@Model.Name</h4>
<hr />

<form asp-action="Edit">
    <input type="hidden" asp-for="Id" />
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="row">
        <div class="form-group col-lg-3 col-sm-6">
            <label asp-for="City" class="control-label"></label>
            <select asp-for="City" class="form-control">
                <option disabled selected="selected">انتخاب کنید</option>
                @foreach (City c in ViewBag.Cities)
                {
                    <option value="@c.Id.ToString()">@c.Name</option>
                }
            </select>
            <span asp-validation-for="City" class="text-danger"></span>
        </div>
        <div class="form-group col-lg-3 col-sm-6">
            <label asp-for="Center" class="control-label"></label>
            <select asp-for="Center" asp-items="ViewBag.Centers" class="form-control"></select>
            <span asp-validation-for="Center" class="text-danger"></span>
        </div>
        <div class="form-group col-lg-3 col-sm-6">
            <label asp-for="Building" class="control-label"></label>
            <select asp-for="Building" asp-items="ViewBag.Buildings" class="form-control">
                <option disabled selected>انتخاب کنید یا وارد کنید</option>
            </select>
            <span asp-validation-for="Building" class="text-danger"></span>
        </div>
        <div class="form-group col-lg-3 col-sm-6">
            <label asp-for="Room" class="control-label"></label>
            <select asp-for="Room" asp-items="ViewBag.Rooms" class="form-control">
                <option disabled selected>انتخاب کنید یا وارد کنید</option>
            </select>
            <span asp-validation-for="Room" class="text-danger"></span>
        </div>
        <div class="form-group col-lg-3 col-sm-6">
            <label asp-for="RackLine" class="control-label"></label>
            <input asp-for="RackLine" class="form-control" />
            <span asp-validation-for="RackLine" class="text-danger"></span>
        </div>
        <div class="form-group col-lg-3 col-sm-6">
            <label asp-for="RackIndex" class="control-label"></label>
            <input asp-for="RackIndex" class="form-control" />
            <span asp-validation-for="RackIndex" class="text-danger"></span>
        </div>
        <div class="form-group col-lg-3 col-sm-6">
            <label asp-for="RackSide" class="control-label"></label>
            <select asp-for="RackSide" class="form-control">
                @foreach (var s in Enum.GetNames(typeof(Rack.RackSide)))
                {
                    <option>@s</option>
                }
            </select>
            <span asp-validation-for="RackSide" class="text-danger"></span>
        </div>
        <div class="form-group col-lg-3 col-sm-6">
            <label asp-for="RackRow" class="control-label"></label>
            <input asp-for="RackRow" class="form-control" />
            <span asp-validation-for="RackRow" class="text-danger"></span>
        </div>

        <div class="form-group col-lg-3 col-sm-6">
            <label asp-for="RackType" class="control-label"></label>
            <select asp-for="RackType" class="form-control">
                @foreach (var t in Enum.GetNames(typeof(Rack.RackType)))
                {
                    <option value="@t">@Utils.GetDisplayNameOfMember(typeof(Rack.RackType), t)</option>
                }
            </select>
            <span asp-validation-for="RackType" class="text-danger"></span>
        </div>
        <div class="form-group col-lg-3 col-sm-6">
            <label asp-for="Type" class="control-label"></label>
            <select asp-for="Type" class="form-control">
                @foreach (var t in Enum.GetNames(typeof(Passive.PassiveTypeEnum)))
                {
                    <option value="@t">@Utils.GetDisplayNameOfMember(typeof(Passive.PassiveTypeEnum), t)</option>
                }
            </select>
            <span asp-validation-for="Type" class="text-danger"></span>
        </div>
        <div class="form-group col-lg-3 col-sm-6" id="divPatchPanelType">
            <label asp-for="PatchPanelType" class="control-label"></label>
            <select asp-for="PatchPanelType" class="form-control">
                @foreach (var t in Enum.GetNames(typeof(Passive.PatchPanelTypeEnum)))
                {
                    <option value="@t">@Utils.GetDisplayNameOfMember(typeof(Passive.PatchPanelTypeEnum), t)</option>
                }
            </select>
            <span asp-validation-for="PatchPanelType" class="text-danger"></span>
        </div>
        <div class="form-group col-lg-3 col-sm-6" id="divTransmissionType">
            <label asp-for="TransmissionType" class="control-label"></label>
            <select asp-for="TransmissionType" class="form-control">
                @foreach (var t in Enum.GetNames(typeof(TransmissionSystemType)))
                {
                    <option value="@t">@Utils.GetDisplayNameOfMember(typeof(TransmissionSystemType), t)</option>
                }
            </select>
            <span asp-validation-for="TransmissionType" class="text-danger"></span>
        </div>
        <div class="form-group col-lg-3 col-sm-6">
            <label asp-for="Name" class="control-label"></label>
            <input asp-for="Name" class="form-control" />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group mt-4">
        <input type="submit" value="ویرایش" class="btn btn-primary" />
        @if (!db.Any<EndPoint>(e => e.PassiveConnections.Any(p => p.PatchPanel == Model.Id)))
        {
            <a asp-action="Delete" asp-route-id="@Model.Id" class="btn btn-danger mx-3" onclick="return confirm('آیا برای حذف مطمئن هستید؟');">حذف رابط Passive</a>
        }
    </div>
</form>

<div>
    <a asp-controller="Place" asp-action="Index">بازگشت به لیست</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

<script>

    $("#Building").select2(select2BaseSettings);
    $("#Room").select2(select2BaseSettings);
    $("#Rack").select2(select2BaseSettings);

    $("#City").change(function () {
        var cityId = $(this).val();
        $.get("/Device/Centers?city=" + cityId, function (res) {
            $("#Center").find('option').remove().end().append("<option disabled selected>انتخاب کنید</option>");
            $.each(res, function (index, item) {
                $("#Center").append("<option value='" + item.id + "'>" + item.text + "</option>");
            });
        });
    });

    $("#Center").change(function () {
        var centerId = $(this).val();
        $.get("/Device/Buildings?center=" + centerId, function (res) {
            $("#Building").find('option').remove().end().append("<option disabled selected>انتخاب کنید یا وارد کنید</option>");
            $("#Building").select2({
                tags: true,
                data: res,
                ...select2BaseSettings
            });
        });
    });

    $("#Building").on('select2:select', function (e) {
        var buildingId = e.params.data.id;
        $.get("/Device/Rooms?building=" + buildingId, function (res) {
            $("#Room").find('option').remove().end().append("<option disabled selected>انتخاب کنید یا وارد کنید</option>");
            $("#Room").select2({
                tags: true,
                data: res,
                ...select2BaseSettings
            });
        });
    });

    $("#Type").change(function () {
        var type = $("#Type").val();
        var divPP = $("#divPatchPanelType");
        var divTT = $("#divTransmissionType");
        if (type == "PatchPanel") {
            divPP.show();
            divTT.hide();
            $("#TransmissionType").val("None");
        }
        else {
            divPP.hide();
            divTT.show();
            $("#PatchPanelType").val("None");
        }
    });

    $("#Type").trigger("change");
</script>
}
