@model TciDataLinks.Models.ConnectionViewModel
@inject IEnumerable<City> Cities

<h1>تعریف لینک جدید</h1>
<hr />

<div class="my-5">
    <div class="row">
        <div class="col-lg-3 col-sm-6">
            <div class="form-group">
                <label class="control-label">شهر</label>
                <select id="City" class="form-control">
                    <option disabled selected>انتخاب کنید</option>
                    @foreach (var city in Cities)
                    {
                        <option value="@city.Id.ToString()">@city.Name</option>
                    }
                </select>
            </div>
        </div>
        <div class="col-lg-3 col-sm-6">
            <div class="form-group">
                <label class="control-label">مرکز</label>
                <select id="Center" class="form-control"></select>
            </div>
        </div>
        <div class="col-lg-3 col-sm-6">
            <div class="form-group">
                <label class="control-label">ساختمان</label>
                <select id="Building" class="form-control"></select>
            </div>
        </div>
        <div class="col-lg-3 col-sm-6">
            <div class="form-group">
                <label class="control-label">سالن/اتاق</label>
                <select id="Room" class="form-control"></select>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-3 col-sm-6">
            <div class="form-group">
                <label class="control-label">راک</label>
                <select id="Rack" class="form-control"></select>
            </div>
        </div>
        <div class="col-lg-3 col-sm-6">
            <div class="form-group">
                <label class="control-label">دستگاه</label>
                <select id="Device" class="form-control"></select>
            </div>
        </div>
    </div>
    <div class="text-center mt-3">
        <input type="button" id="btnAddNewEndPoint" class="btn btn-secondary d-none" value="اتصال جدید" />
    </div>
</div>

<form asp-action="Add">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div id="divEndPoints" class="mt-5">
        @for (var i = 0; i < Model.EndPoints.Count; i++)
        {
            @Html.EditorFor(m => Model.EndPoints[i], "EndPoint");
        }
    </div>
    
    <div class="form-group">
        <input type="button" id="btnDeleteLastConnection" value="حذف آخرین اتصال" class="btn btn-outline-danger d-none" />
        <input type="submit" id="btnSubmit" value="ذخیره" class="btn btn-primary mr-4 d-none" />
    </div>
</form>

<div class="modal fade" id="newPassiveModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header bg-dark text-light">
                <h4 class="modal-title">اتصال Passive جدید</h4>
                <button type="button" class="close text-light" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <input type="hidden" id="newPassiveEndPointIndex" />
                <div class="form-group">
                    <label class="control-label">سالن/اتاق</label>
                    <select id="NewPassiveRoom" class="form-control"></select>
                </div>
                <div class="form-group">
                    <label class="control-label">راک</label>
                    <select id="NewPassiveRack" class="form-control"></select>
                </div>
                <div class="form-group">
                    <label class="control-label">پچ پنل</label>
                    <select id="NewPassivePatchPanel" class="form-control"></select>
                </div>
            </div>
            <div class="modal-footer">
                <input type="button" class="btn btn-secondary d-none mx-4" value="افزودن" id="btnAddNewPassive" data-dismiss="modal" />
            </div>
        </div>
    </div>
</div>

<div>
    <a asp-action="Index">بازگشت به لیست</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

<script>
    $(document).ready(function () {
        var endPointsCount = $('#divEndPoints').children().length;
        if (endPointsCount >= 2) {
            $("#btnSubmit").removeClass("d-none");
        }
        if (endPointsCount >= 1) {
            $("#btnDeleteLastConnection").removeClass("d-none");
        }
    });

    var dropdownsToClear = [$("#Center"), $("#Building"), $("#Room"), $("#Rack"), $("#Device")];

    function ClearDropdownsAfter(offset) {
        for (var i = offset; i < dropdownsToClear.length; i++)
            dropdownsToClear[i].find("option").remove();
        $("#btnAddNewEndPoint").addClass("d-none");
    }

    $("#City").change(function () {
        ClearDropdownsAfter(0);
        var id = $(this).val();
        $.get("/Place/Centers?city=" + id, function (res) {
            $("#Center").find('option').remove().end().append("<option disabled selected>انتخاب کنید</option>");
            $.each(res, function (index, item) {
                $("#Center").append("<option value='" + item.id + "'>" + item.text + "</option>");
            });
            $("#Center").select2(select2BaseSettings);
        });
    });

    $("#Center").change(function () {
        ClearDropdownsAfter(1);
        var id = $(this).val();
        $.get("/Place/Buildings?center=" + id, function (res) {
            $("#Building").find('option').remove().end().append("<option disabled selected>انتخاب کنید</option>");
            $.each(res, function (index, item) {
                $("#Building").append("<option value='" + item.id + "'>" + item.text + "</option>");
            });
        });
    });

    $("#Building").change(function () {
        ClearDropdownsAfter(2);
        var id = $(this).val();
        $.get("/Place/Rooms?building=" + id, function (res) {
            $("#Room").find('option').remove().end().append("<option disabled selected>انتخاب کنید</option>");
            $("#NewPassiveRoom").find('option').remove().end().append("<option disabled selected>انتخاب کنید</option>");
            $.each(res, function (index, item) {
                $("#Room").append("<option value='" + item.id + "'>" + item.text + "</option>");
                $("#NewPassiveRoom").append("<option value='" + item.id + "'>" + item.text + "</option>");
            });
        });
    });

    $("#Room").change(function () {
        ClearDropdownsAfter(3);
        var id = $(this).val();
        $.get("/Place/Racks?room=" + id, function (res) {
            $("#Rack").find('option').remove().end().append("<option disabled selected>انتخاب کنید</option>");
            $.each(res, function (index, item) {
                $("#Rack").append("<option value='" + item.id + "'>" + item.text + "</option>");
            });
        });
    });

    $("#NewPassiveRoom").change(function () {
        $("#NewPassiveRack").find("option").remove().end().append("<option disabled selected>انتخاب کنید</option>");
        $("#NewPassivePatchPanel").find("option").remove().end().append("<option disabled selected>انتخاب کنید</option>");
        var id = $(this).val();
        $.get("/Place/Racks?room=" + id, function (res) {
            $.each(res, function (index, item) {
                $("#NewPassiveRack").append("<option value='" + item.id + "'>" + item.text + "</option>");
            });
        });
    });

    $("#Rack").change(function () {
        ClearDropdownsAfter(4);
        var id = $(this).val();
        $.get("/Place/Devices?rack=" + id, function (res) {
            $("#Device").find('option').remove().end().append("<option disabled selected>انتخاب کنید</option>");
            $.each(res, function (index, item) {
                $("#Device").append("<option value='" + item.id + "'>" + item.text + "</option>");
            });
        });
    });

    $("#NewPassiveRack").change(function () {
        $("#NewPassivePatchPanel").find("option").remove().end().append("<option disabled selected>انتخاب کنید</option>");
        var id = $(this).val();
        $.get("/Place/PatchPanels?rack=" + id, function (res) {
            $("#NewPassivePatchPanel").find('option').remove().end().append("<option disabled selected>انتخاب کنید</option>");
            $.each(res, function (index, item) {
                $("#NewPassivePatchPanel").append("<option value='" + item.id + "'>" + item.text + "</option>");
            });
        });
    });

    $("#NewPassivePatchPanel").change(function () {
        $("#btnAddNewPassive").removeClass("d-none");
    });

    $("#Device").change(function () {
        $("#btnAddNewEndPoint").removeClass("d-none");
    });

    function IsDeviceAlreadyAdded(id) {
        return $("input[value=" + id + "]").filter(function () { return this.id.match(/EndPoints_\d+__Device/); }).length > 0;
    }

    $("#btnAddNewEndPoint").on("click", function () {
        var roomId = $("#Room").val();
        var rackId = $("#Rack").val();
        var deviceId = $("#Device").val();
        if (IsDeviceAlreadyAdded(deviceId)) {
            showToast("دستگاه انتخاب شده قبلا اضافه شده است!", "danger");
            return;
        }
        var i = $("#divEndPoints").children().length;
        $.ajax({
            url: "/Connection/AddEndPoint?index=" + i + "&room=" + roomId + "&rack=" + rackId + "&device=" + deviceId,
                success: function (partialView) {
                    var item = $.parseHTML(partialView);
                    item = ConvertInputsToBeAsArrayItem(item, "@nameof(Model.EndPoints)", i);
                    $('#divEndPoints').append(item);
                    $("#btnDeleteLastConnection").removeClass("d-none");
                    if ($('#divEndPoints').children().length >= 2) {
                        $("#btnSubmit").removeClass("d-none");
                    }
                    resetValidation();
                }
            });
    });

    $("#btnDeleteLastConnection").on("click", function () {
        $("#divEndPoints").children().last().remove();
        if ($("#divEndPoints").children().length == 0)
            $("#btnDeleteLastConnection").addClass("d-none");
        if ($("#divEndPoints").children().length < 2)
            $("#btnSubmit").addClass("d-none");
    });

    function ShowNewPassiveDialog(index) {
        $("#newPassiveEndPointIndex").val(index);
        $("#newPassiveModal").modal();
    }

    $("#btnAddNewPassive").on("click", function () {
        var endPointIndex = $("#newPassiveEndPointIndex").val();
        var index = $("#divPassives_" + endPointIndex).children().length;
        var patchPanel = $("#NewPassivePatchPanel").val();
        if ($("#divPassives_" + endPointIndex).find("input[value='" + patchPanel + "']").length > 0) {
            showToast("این پچ پنل قبلا به این اتصال اضافه شده است!", "danger");
            return;
        }
        $.ajax({
            url: "/Connection/AddPassiveConnection?endPointIndex=" + endPointIndex + "&index=" + index + "&patchPanel=" + patchPanel,
            success: function (partialView) {
                var item = $.parseHTML(partialView);
                item = ConvertInputsToBeAsArrayItem(item, "@(nameof(Model.EndPoints))[" + endPointIndex + "].PassiveConnectionViewModels", index, false);
                $("#divPassives_" + endPointIndex).append(item);
                $("#EndPoints_" + index + "__btnRemoveLastPassive").removeClass("d-none");
            }
        });
    });

    function RemoveLastPassive(index) {
        $("#divPassives_" + index).children().last().remove();
        if ($("#divPassives_" + index).children().length == 0)
            $("#EndPoints_" + index + "__btnRemoveLastPassive").addClass("d-none");
    }
</script>
}
