@model ConnectionViewModel
@inject IEnumerable<City> Cities
@inject Settings settings

@if (ViewData.ContainsKey("EditMode"))
{
    <h1>لینک @Model.IdInt</h1>
    <div class="row text-black-50">
        @if (Model.CreateDate != null)
        {
            <div class="col-lg-6">
                ایجاد شده در @Model.CreateDate
                @if (Model.CreatedUser != null)
                {
                    <span>توسط <b>@Model.CreatedUser</b></span>
                }
            </div>
        }
        @if (Model.LastEditDate != null)
        {
            <div class="col-lg-6">
                آخرین ویرایش در @Model.LastEditDate
                @if (Model.EditedUser != null)
                {
                    <span>توسط <b>@Model.EditedUser</b></span>
                }
            </div>
        }
    </div>
    <hr />
    <h2 class="mt-5">ویرایش لینک</h2>
}
else
{
    <h2>تعریف لینک جدید</h2>
}
<hr />

<div class="my-5">
    <div class="row">
        <div class="col-lg-3 col-sm-6">
            <div class="form-group">
                <label class="control-label">شهر</label>
                <select id="City" class="form-control">
                    <option disabled selected>انتخاب کنید</option>
                    @foreach (var city in Cities)
                    {
                        <option value="@city.Id.ToString()">@city.Name</option>
                    }
                </select>
            </div>
        </div>
        <div class="col-lg-3 col-sm-6">
            <div class="form-group">
                <label class="control-label">مرکز</label>
                <select id="Center" class="form-control"></select>
            </div>
        </div>
        <div class="col-lg-3 col-sm-6">
            <div class="form-group">
                <label class="control-label">ساختمان</label>
                <select id="Building" class="form-control"></select>
            </div>
        </div>
        <div class="col-lg-3 col-sm-6">
            <div class="form-group">
                <label class="control-label">سالن/اتاق</label>
                <select id="Room" class="form-control"></select>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-3 col-sm-6">
            <div class="form-group">
                <label class="control-label">راک</label>
                <select id="Rack" class="form-control"></select>
            </div>
        </div>
        <div class="col-lg-3 col-sm-6">
            <div class="form-group">
                <label class="control-label">دستگاه</label>
                <select id="Device" class="form-control"></select>
            </div>
        </div>
    </div>
    <div class="text-center mt-3">
        <input type="button" id="btnAddNewEndPoint" class="btn btn-secondary d-none" value="اتصال جدید" />
    </div>
</div>

<form asp-action="@(ViewData.ContainsKey("EditMode") ? "Edit" : "Add")">
    <div id="divEndPoints" class="mt-5">
        @for (var i = 0; i < Model.EndPoints.Count; i++)
        {
            @Html.EditorFor(m => Model.EndPoints[i], "EndPoint");
        }
    </div>

    <div class="card mt-5">
        <div class="card-header">
            <div class="float-left">
                <button class="btn p-0" id="btnCustomerLink" title="جزئیات مشتری">
                    <img src="~/lib/bootstrap-icons/icons/box-arrow-up-right.svg" width="24" />
                </button>
            </div>
            <label class="mb-0">
                <input type="checkbox" id="chkHasCustomer" @(Model.Customer == null ? "" : "checked") />
                متصل به مشتری
            </label>
        </div>
        <div class="card-body" id="divCustomer" style="display:@(Model.Customer == null ? "none" : "initial");">
            <div class="row">
                <div class="form-group col-md-6">
                    <label class="form-label">جستجوی مشتری</label>
                    <select asp-for="CustomerId" class="form-control">
                        @if (Model.Customer != null)
                        {
                            <option value="@Model.CustomerId">@Model.Customer</option>
                        }
                    </select>
                </div>
            </div>

        </div>
    </div>
    <div class="mt-5 text-danger">
        <div asp-validation-summary="ModelOnly"></div>
    </div>
    <div class="form-group mt-5">
        <input type="button" id="btnDeleteLastConnection" value="حذف آخرین اتصال" class="btn btn-outline-danger d-none" />
        <input type="submit" id="btnSubmit" value="ذخیره" class="btn btn-primary mr-3 d-none" />
        @if (ViewData.ContainsKey("EditMode"))
        {
            <a asp-action="Delete" asp-route-id="@Model.Id" class="btn btn-danger mr-3" onclick="return confirm('آیا برای حذف مطمئن هستید؟');">حذف لینک</a>
        }
    </div>
</form>

<div class="modal fade" id="newPassiveModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header bg-dark text-light">
                <h4 class="modal-title">اتصال Passive جدید</h4>
                <button type="button" class="close text-light" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <input type="hidden" id="newPassiveEndPointIndex" />
                <input type="hidden" id="newPassiveEndPointId" />
                <div class="form-group">
                    <label class="control-label">ساختمان</label>
                    <select id="NewPassiveBuilding" class="form-control"></select>
                </div>
                <div class="form-group">
                    <label class="control-label">سالن/اتاق</label>
                    <select id="NewPassiveRoom" class="form-control"></select>
                </div>
                <div class="form-group">
                    <label class="control-label">راک</label>
                    <select id="NewPassiveRack" class="form-control"></select>
                </div>
                <div class="form-group">
                    <label class="control-label">رابط Passive</label>
                    <select id="NewPassive" class="form-control"></select>
                </div>
            </div>
            <div class="modal-footer">
                <input type="button" class="btn btn-secondary d-none mx-4" value="افزودن" id="btnAddNewPassive" data-dismiss="modal" />
            </div>
        </div>
    </div>
</div>

<div>
    <a asp-action="Index">بازگشت به لیست</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script>
    $(document).ready(function () {
        var endPointsCount = $('#divEndPoints').children().length;
        if (endPointsCount >= 1) {
            $("#btnSubmit").removeClass("d-none");
        }
        if (endPointsCount >= 1) {
            $("#btnDeleteLastConnection").removeClass("d-none");
        }

        $("#CustomerId").select2({
            ...select2BaseSettings,
            minimumInputLength: 3,
            ajax: {
                url: "/Connection/CustomerSearch",
                dataType: 'json'
            }
        });
    });

    var dropdownsToClear = [$("#Center"), $("#Building"), $("#Room"), $("#Rack"), $("#Device")];

    function ClearDropdownsAfter(offset) {
        for (var i = offset; i < dropdownsToClear.length; i++)
            dropdownsToClear[i].find("option").remove();
        $("#btnAddNewEndPoint").addClass("d-none");
    }

    $("#City").change(function () {
        ClearDropdownsAfter(0);
        var id = $(this).val();
        $.get("/Place/Centers?city=" + id, function (res) {
            removeOptionsOfDropDown($("#Center"));
            $.each(res, function (index, item) {
                $("#Center").append("<option value='" + item.id + "'>" + item.text + "</option>");
            });
            $("#Center").select2(select2BaseSettings);
        });
    });

    $("#Center").change(function () {
        ClearDropdownsAfter(1);
        var id = $(this).val();
        $.get("/Place/Buildings?center=" + id, function (res) {
            removeOptionsOfDropDown($("#Building"));
            $.each(res, function (index, item) {
                $("#Building").append("<option value='" + item.id + "'>" + item.text + "</option>");
            });
        });
    });

    $("#Building").change(function () {
        ClearDropdownsAfter(2);
        var id = $(this).val();
        $.get("/Place/Rooms?building=" + id, function (res) {
            removeOptionsOfDropDown($("#Room"));
            $.each(res, function (index, item) {
                $("#Room").append("<option value='" + item.id + "'>" + item.text + "</option>");
            });
        });
    });

    $("#Room").change(function () {
        ClearDropdownsAfter(3);
        var id = $(this).val();
        $.get("/Place/Racks?room=" + id, function (res) {
            removeOptionsOfDropDown($("#Rack"));
            $.each(res, function (index, item) {
                $("#Rack").append("<option value='" + item.id + "'>" + item.text + "</option>");
            });
        });
    });

    $("#NewPassiveBuilding").change(function () {
        removeOptionsOfDropDown($("#NewPassiveRoom"));
        removeOptionsOfDropDown($("#NewPassiveRack"));
        removeOptionsOfDropDown($("#NewPassive"));
        var id = $(this).val();
        $.get("/Place/Rooms?building=" + id, function (res) {
            $.each(res, function (index, item) {
                $("#NewPassiveRoom").append("<option value='" + item.id + "'>" + item.text + "</option>");
            });
        });
    });

    $("#NewPassiveRoom").change(function () {
        removeOptionsOfDropDown($("#NewPassiveRack"));
        removeOptionsOfDropDown($("#NewPassive"));
        var id = $(this).val();
        $.get("/Place/Racks?room=" + id, function (res) {
            $.each(res, function (index, item) {
                $("#NewPassiveRack").append("<option value='" + item.id + "'>" + item.text + "</option>");
            });
        });
    });

    $("#Rack").change(function () {
        ClearDropdownsAfter(4);
        var id = $(this).val();
        $.get("/Place/Devices?rack=" + id, function (res) {
            removeOptionsOfDropDown($("#Device"));
            $.each(res, function (index, item) {
                $("#Device").append("<option value='" + item.id + "'>" + item.text + "</option>");
            });
        });
    });

    $("#NewPassiveRack").change(function () {
        removeOptionsOfDropDown($("#NewPassive"));
        var id = $(this).val();
        $.get("/Place/Passives?rack=" + id, function (res) {
            removeOptionsOfDropDown($("#NewPassive"));
            $.each(res, function (index, item) {
                $("#NewPassive").append("<option value='" + item.id + "'>" + item.text + "</option>");
            });
        });
    });

    $("#NewPassive").change(function () {
        $("#btnAddNewPassive").removeClass("d-none");
    });

    $("#Device").change(function () {
        $("#btnAddNewEndPoint").removeClass("d-none");
    });

    function IsDeviceAlreadyAdded(id) {
        return $("input[value=" + id + "]").filter(function () { return this.id.match(/EndPoints_\d+__Device/); }).length > 0;
    }

    $("#btnAddNewEndPoint").on("click", function () {
        var centerId = $("#Center").val();
        var deviceId = $("#Device").val();
        if (IsDeviceAlreadyAdded(deviceId)) {
            showToast("دستگاه انتخاب شده قبلا اضافه شده است!", "danger");
            return;
        }
        var i = $("#divEndPoints").children().length;
        $.ajax({
            url: "/Connection/AddEndPoint?index=" + i + "&center=" + centerId + "&device=" + deviceId,
                success: function (partialView) {
                    var item = $.parseHTML(partialView);
                    item = ConvertInputsToBeAsArrayItem(item, "@nameof(Model.EndPoints)", i);
                    $('#divEndPoints').append(item);
                    $("#btnDeleteLastConnection").removeClass("d-none");
                    if ($('#divEndPoints').children().length >= 1) {
                        $("#btnSubmit").removeClass("d-none");
                    }
                    //resetValidation();
                    toggleEndPointPortType(i);
                }
            });
    });

    $("#btnDeleteLastConnection").on("click", function () {
        $("#divEndPoints").children().last().remove();
        if ($("#divEndPoints").children().length == 0)
            $("#btnDeleteLastConnection").addClass("d-none");
        if ($("#divEndPoints").children().length == 0)
            $("#btnSubmit").addClass("d-none");
    });

    function ShowNewPassiveDialog(id, index) {
        $("#newPassiveEndPointId").val(id);
        $("#newPassiveEndPointIndex").val(index);
        removeOptionsOfDropDown($("#NewPassiveRack"));
        removeOptionsOfDropDown($("#NewPassive"));
        $("#btnAddNewPassive").addClass("d-none");
        var centerId = $("#EndPoints_" + index + "__Center").val();
        $.get("/Place/Buildings?center=" + centerId, function (res) {
            removeOptionsOfDropDown($("#NewPassiveBuilding"));
            $.each(res, function (index, item) {
                $("#NewPassiveBuilding").append("<option value='" + item.id + "'>" + item.text + "</option>");
            });
            $("#newPassiveModal").modal();
        });
    }

    $("#btnAddNewPassive").on("click", function () {
        var endPointId = $("#newPassiveEndPointId").val();
        var endPointIndex = $("#newPassiveEndPointIndex").val();
        var index = $("#divPassives_" + endPointIndex).children().length;
        var passive = $("#NewPassive").val();
        if (!passive)
            return;
        if ($("#divPassives_" + endPointIndex).find("input[value='" + passive + "']").length > 0) {
            showToast("این رابط Passive قبلا به این اتصال اضافه شده است!", "danger");
            return;
        }
        $.ajax({
            url: "/Connection/AddPassiveConnection?endPointId=" + endPointId + "&endPointIndex=" + endPointIndex + "&index=" + index + "&passive=" + passive,
            success: function (partialView) {
                var item = $.parseHTML(partialView);
                item = ConvertInputsToBeAsArrayItem(item, "@(nameof(Model.EndPoints))[" + endPointIndex + "].PassiveConnectionViewModels", index, false);
                $("#divPassives_" + endPointIndex).append(item);
                $("#EndPoints_" + index + "__btnRemoveLastPassive").removeClass("d-none");
                resetValidation();
            }
        });
    });

    function RemoveLastPassive(index) {
        $("#divPassives_" + index).children().last().remove();
        if ($("#divPassives_" + index).children().length == 0)
            $("#EndPoints_" + index + "__btnRemoveLastPassive").addClass("d-none");
    }

    function toggleEndPointPortType(index) {
        var selected = $("#EndPoints_" + index + "__PortType").val();
        var show = selected == "Optical";
        $("#divModule_" + index).toggle(show);
        $("#divPatchCord_" + index).toggle(show);
        $("#divWaveLength_" + index).toggle(show);
    }

    $("#chkHasCustomer").click(function () {
        var checked = $(this).is(":checked");
        $('#divCustomer').toggle(checked);
        if (!checked)
            $("#CustomerId").empty();
    });

    $("#btnCustomerLink").click(function(e) {
        var url = '@settings.CustomerDetailsUrl';
        var id = $("#CustomerId").val();
        if (id) {
            url = url.replace('{Id}', id);
            window.open(url, '_blank');
        }
        e.preventDefault();
    });
    </script>
}
